* {
  margin: 0;
}

body
{
  display: flex;
  flex-flow: column nowrap;
}

#board {
  /* margin: 20px auto; */

  width: calc(100vw);
  height: calc(90vh);

  display: flex;
  flex-flow: row wrap;

  align-items: flex-start;
  justify-content: flex-start;

  background-color: purple;
}

.boardTile {
  flex: 1 1 auto;
  background-color: black;
}

#controlBar {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  height: 10vh;

  background-color: grey;
}

#buttonResize {
  font-family: sans-serif;
  font-size: 18px;
  height: 56px;
  padding: 0px 20px 0px 20px;
  border-radius: 12px;
}