* {
  margin: 0;
}

#board {
  margin: 20px auto;

  width: calc(100vw - 40px);
  height: calc(100vh - 40px);

  display: flex;
  flex-flow: row wrap;

  align-items: flex-start;
  justify-content: flex-start;

  background-color: purple;
}

.boardTile {
  flex: 1 1 auto;
  background-color: black;
}
